
<div class="panel">
  <h2>rooms</h2>

{{#each rooms}}
  <button class="roombutton" id={{this.room}}>{{ this.room }}<br/>({{ this.users }} connected)</button>
{{/each}}
</div>

<div class="panel">
  <h2>create room</h2>
  <input id="room" type="text" style="width:50%">
  <button id="createroom">JOIN</button>
</div>

<script src="/main.bundle.js"></script>