
<div class="toolbar panel">
  <button id="mute">Mute</button>
</div>

<div class="panel">
  <h2>much sounds</h2>

{{#each sounds}}
  <button class="soundbutton" id="{{this.name}}">{{ this.friendlyName }}</button>
{{/each}}
</div>

<div class="panel">
  <h2>say things</h2>
  <input id="words" type="text" style="width:50%">
  <button id="speak">Speak</button>
</div>

<script src='https://code.responsivevoice.org/responsivevoice.js'></script>
<script src="/soundboard.bundle.js"></script>