<h1>much sounds</h1>

<ul>
{{#each sounds}}
  <audio id="{{ this.name }}" src="sounds/{{ this.base }}"></audio>
{{/each}}
</ul>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();

  socket.on('invokesound', function (name) {
    console.log('play sound!')
    document.getElementById(name).play();
  });

  socket.on('invokespeech', function (words) {
    var msg = new SpeechSynthesisUtterance(words);
    window.speechSynthesis.speak(msg);
  });
</script>

