body {
  background-color: #222;
  color: white;
}

.content {
  text-align: center;
}

button, input {
  padding: 10px;
  margin-bottom: 20px;
  font-size:20px;
}

button {
  background-color: #CCC;
}

a, a:visited {
  color: lightblue;
}

@media (max-width: 1000px) {
  button, input {
    font-size: 25px;
    width: 80%;
  }
}
